@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";

body {
  @apply font-sans text-base;
}

p {
  @apply mb-8 text-xl;
}

.content-wrapper {
  @apply transition-bg transition-250;
}

a {
  @apply text-orange-600 font-bold;
}

a:hover {
  @apply text-orange-700;
}

nav .active {
  @apply border-black border-b font-bold;
}

hr {
  @apply border-gray-500 bg-transparent h-1 my-6 p-0;
}

blockquote {
  @apply border-l-4 border-regal-blue border-solid text-gray-600 px-6 mb-8;
}

blockquote > :first-child {
  @apply mt-0;
}

blockquote > :last-child {
  @apply mb-0;
}

ol,
ul {
  @apply pl-10 mb-4;
}

ol ol,
ol ul,
ul ol,
ul ul {
  @apply my-0;
}

ol ol,
ul ol {
  @apply list-l-roman;
}

ol ol ol,
ol ul ol,
ul ol ol,
ul ul ol {
  @apply list-l-alpha;
}

dd {
  @apply ml-0;
}

li {
  @apply text-xl break-words;
}

ul li {
  @apply list-disc;
}

ol li {
  @apply list-decimal;
}

li > p {
  @apply mt-4;
}

li + li {
  @apply mt-1;
}

dl {
  @apply p-0;
}

dl dt {
  @apply text-base font-semibold italic mt-4 p-0;
}

dl dd {
  @apply mb-4 py-0 px-4;
}

code {
  @apply bg-gray-100 border border-solid border-gray-400 rounded text-gray-800 text-xs align-middle p-1 font-mono;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply mt-10 mb-4;
}

h1 {
  @apply text-3xl;
}

h2 {
  @apply text-2xl font-semibold;
}

h3 {
  @apply text-xl font-semibold;
}

h4 {
  @apply text-lg font-semibold;
}

h5 {
  @apply text-base italic;
}

h6 {
  @apply text-sm font-bold;
}

table {
  @apply block overflow-auto w-full;
}

table th {
  @apply font-semibold;
}

table td,
table th {
  @apply border border-gray-500 py-2 px-4;
}

table tr {
  @apply bg-white border border-gray-700;
}

table tr:nth-child(2n) {
  @apply bg-gray-200;
}

img {
  @apply max-w-full;
}

/* code, */
pre {
  @apply font-mono rounded leading-normal p-4 mb-8 text-base overflow-auto;
}

pre code {
  @apply bg-transparent border-0 inline m-0 p-0 overflow-visible whitespace-pre text-sm;
}

.container-inner {
  @apply px-4;
}

@media (min-width: 640px) {
  .container-inner {
    max-width: 640px;
  }
}

@media (min-width: 768px) {
  .container-inner {
    max-width: 768px;
  }
}

@media (min-width: 1024px) {
  .container-inner {
    max-width: 800px;
  }
}
